@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);

:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --laranja: #8b1e3f;
  --azul-degrade: linear-gradient(97.54deg, #473bf0 35.49%, #776fee 165.37%);
  --fonte-principal: "Poppins", sans-serif;
  --azul: #473bf0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  background-color: aqua;
}

/* .container__imagem {
  width: 35px;
  height: auto;
} */
